.portfolio {
    padding-top: 100px;
    border-bottom: 1px solid #84cba24b;
    scroll-margin-top: 70px;
}

.gallery {
    flex: 0 0 100%;
    /* max-width: 100%; */
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px 50px 50px;
}

.item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 30px;
    /* outline: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}


.item img {
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.item:hover img {
    scale: 1.1;
}

.item label {
    font-family: 'Europa';
    font-size: 30px;
    font-weight: 200;
    cursor: pointer;
    text-align: center;
}

.item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.item:hover .overlay {
    opacity: .3;
}

.inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.overlay .fa {
    height: 50px;
    width: 50px;
    background-color: #5f88e0;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.item:hover .overlay .fa {
    animation: galleryIcon 0.8s ease;
    -webkit-animation: galleryIcon 0.8s ease;
}

@keyframes galleryIcon {
    0% {
        transform: translate(-20px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

.overlay h4 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.item:hover .overlay h4 {
    animation: galleryText 0.8s ease;
    -webkit-animation: galleryText 0.8s ease;
}

@keyframes galleryText {
    0% {
        transform: translate(20px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

.lightbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.show {
    display: flex;
    animation: zoomIn .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes zoomIn {
    0% {
        scale: 1.2;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}


.hide {
    display: none;

}

.close-lightbox {
    height: 35px;
    width: 35px;
    background-color: #5f88e0;
    color: #fff;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    display: block;

}

.itemdesc {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 100vh;
}

.headerimg {
    position: relative;
    clip-path: inset(0);
    width: 100%;
    height: 250px;
}

.headerimg img {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: contrast(70%) brightness(70%);
}

.kineticheader {
    top: -300px;
}

.meriheader {
    top: -200px;
}

.rprtheader {
    top: -300px;
}

.sheikhspressureheader {
    top: -100px;
}

.iteminfo {
    margin-inline: 200px;
    margin-top: 50px;
}

.iteminfo h3 {
    margin-block: 20px;
    font-size: 50px;
    font-weight: 800;
}

.iteminfo p {
    margin-block: 20px;
    font-size: 20px;
    font-weight: 100;
}


.iteminfo a {
    font-size: inherit;
    text-decoration: underline;
    color: white;

}

.iteminfo a:visited,
.iteminfo a:active {
    color: inherit;

}

.itemimgs {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 10%;
    gap: 25px;
    justify-content: center;
    padding-block: 50px;
}

.imgcontainer {
    flex: 0 0 40%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.imgcontainer:hover {
    scale: 1.02;
}

.itemimg {
    max-width: 100%;
    object-fit: contain;
}

.changeproj {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    text-decoration: none;

}

.changeproj a {
    color: white;
    text-align: center;
    display: flex;
}

.changeproj a:visited,
.changeproj a:active {
    color: inherit;
}


.changeproj label {
    padding-inline: 30px;
    font-size: 34px;
    font-weight: 200;
    font-family: 'Europa';
    cursor: pointer;
}