@media(max-width: 991px) {
    .block h1 {
        font-size: 50px;
    }

    .block h3 {
        font-size: 18px;
    }

    .about-content {
        flex-wrap: wrap;
        padding-top: 100px;
    }

    .about .text h4 {
        font-size: 40px;
    }

    .about .text p {
        font-size: 16px;
        font-weight: 200;
    }

    .gallery label {
        font-size: 24px;
    }

    .iteminfo {
        margin-inline: 50px;
    }

    .imgcontainer {
        flex: 0 0 90%;
        max-width: 100%;
        position: relative;
    }

}

@media(max-width: 767px) {
    .container {
        margin-inline: 0;
    }

    .home-content {
        justify-content: center;
        text-align: center;
    }


    header {
        padding-inline: 15px;
        position: fixed;
        background-color: #083b35;
        /* border-bottom: 1px solid #eee; */
    }

    header .row {
        justify-content: space-between;
        align-items: center;
        margin-inline: 0px;
    }

    .brand-name a {
        font-size: 24px;
        font-weight: 100;
        color: rgb(236, 241, 250);
        position: relative;
    }

    .brand-name img {
        width: 4rem;
        object-fit: cover;
    }

    .hamburger .fa {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        background-color: #041d1abd;
        width: 100%;
        left: 0px;
        top: 70px;
        padding: 15px;
        /* border-top: 1px solid #eee;
      border-bottom: 1px solid #eee; */
        display: none;
        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.363);
    }

    .navbar .show {
        display: block;
    }

    .navbar ul li {
        display: block;
        margin-right: 0;

    }

    .navbar ul li a {
        line-height: 52px;
        /* color: #01143e; */
    }

    .navbar ul li a::before {
        bottom: -3px;
        /* background-color: #01143e; */
    }

    .about-content {
        gap: 0;
    }

    .about .img {
        scale: 1;
    }

    .about .img img {
        top: 20px;
    }

    .about .text {
        text-align: center;
        padding: 0;
        max-width: 75%;
    }

    .gallery .item {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }

    .iteminfo {
        margin-inline: 50px;
        margin-top: 50px;
    }

    .iteminfo h3 {
        font-size: 40px;
    }

    .iteminfo p {
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
    }

    .itemimgs {
        padding-bottom: 0;
    }

    .changeproj {
        gap: 20px;
    }

    .changeproj label {
        font-size: 20px;
        padding-inline: 0;
    }

    .contact {
        padding: 100px 10px;
    }

    .contact-form {
        padding: 20px;
    }

    .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .social-link a {
        margin: 0px 50px !important;
    }
}

@media(max-width: 500px) {
    .home .home-content .block {
        padding-left: 20px;
    }

    /* .home .home-content .block h1 {
      font-size: 30px;
    }
  
    .home .home-content .block h3 {
      font-size: 15px;
    } */

    .about .about-content .social a {
        margin: 0px 3px;
    }

    .gallery .item {
        flex: 0 0 100%;
        max-width: 100%;
    }

}